streamlit==1.23.1
gtts==2.3.2
moviepy==1.0.3
requests==2.31.0
python-dotenv==1.0.0
langchain==0.0.139
langchain-groq==0.0.10
nltk==3.8.1
opencv-python==4.8.0.74
numpy==1.25.0
textwrap==0.9.1
